
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/simple-line-icons.css" rel="stylesheet" />
<link href="~/css/landing-page.min.css" rel="stylesheet" />
<br />
<header class="masthead text-white text-center">
    <div class="overlay" style="background:url('http://i160.photobucket.com/albums/t162/hotlyts24/fb-covers/megan-fox/megan-fox-cover-4.png');background-repeat: no-repeat; background-size:cover;opacity:0.7"></div>
    <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;"><video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: 100%; height: auto;"><source src="~/mp4/bg3.mp4" type="video/mp4"></video></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-left">
                <h1 class="mb-5 col-md-offset-1">Welcome to Menbook</h1>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid -->
<div class="container text-center">
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-4">
                        <div class="features-icons-icon d-flex">
                            <i class="m-auto text-primary">Cars</i>
                        </div>
                        <h3>Pick your favourite car</h3>
                        <p class="lead mb-0">
                            <em>
                                “When a man opens a car door for his wife, it's either a new car or a new wife.“
                            </em>
                        </p>
                        <a asp-area="Cars" class="btn btn-primary form-control">Drive</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-4">
                        <div class="features-icons-icon d-flex">
                            <i class="m-auto text-primary">Blog</i>
                        </div>
                        <h3>Write some articles</h3>
                        <p class="lead mb-0">
                            <em>
                                “Put your blog out into the world and hope that your talent will speak for itself.“
                            </em>
                        </p>
                        <a asp-area="Blog" asp-controller="Articles" class="btn btn-primary form-control">Post</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-4">
                        <div class="features-icons-icon d-flex">
                            <i class="m-auto text-primary">Beers</i>
                        </div>
                        <h3>Join our Beer Fest</h3>
                        <p class="lead mb-0">
                            <em>“Everyone needs to believe in something. I believe I'll have another beer.“</em>
                        </p>
                        <a asp-area="Beers" asp-controller="Home" asp-action="Index" class="btn btn-primary form-control">Drink</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Image Showcases -->

<h1 class="text-success text-center">Top Active Users</h1><br />
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://ewedit.files.wordpress.com/2015/01/two-and-half-charlie-sheen.jpg?w=612');opacity:0.6"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h3>Charlie Harper</h3>
                <p class="text-danger" style="font-size:20px"><em>"You know what the problem is? The women, the drinking... you look at me and think it's easy. What you don't see is the years of dedication that have made me the boozing ass wrangler I am today."</em></p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 my-auto showcase-text">
                <h3>Hank Moody</h3>
                <p class="text-danger" style="font-size:20px"><em>"A morning of awkwardness is far better than a night of loneliness"</em></p>
            </div>
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://brokeassstuart.com/wp-content/pictsnShit/2017/01/file_162591_0_image_1.jpg');opacity:0.6"></div>
        </div><br /><br />
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://petiscos.jp/wp-content/uploads/2014/09/Peter-x-Homer.jpg');opacity:0.6"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Peter &amp; Homer</h2>
                <p class="text-danger" style="font-size:20px">"Let's go drink till we can't feel feelings anymore!"</p>
            </div>
        </div>
    </div><br /><br /><br /><br />
    <div class="text-right">
        <a asp-area="Blog" asp-controller="Articles" class="btn btn-primary form-control">Read More articles ...</a>
    </div>
</section>
<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5 text-left">What people are saying...</h2>
        <br /><br />
              <div class="row">
                  <div class="col-lg-4">
                      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                          <img class="img-fluid rounded-circle mb-3" src="https://www.famousbirthdays.com/headshots/stevie-wonder-2.jpg" alt="Stevie" style="border-radius:50%">
                          <h5>Stevie W.</h5>
                          <p class="font-weight-light mb-0">"The best site, I've ever seen!"</p>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                          <img class="img-fluid rounded-circle mb-3" src="https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044" alt="Marc" style="border-radius:50%">
                          <h5>Marc Z.</h5>
                          <p class="font-weight-light mb-0">"Much better than my shitbook."</p>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                          <img class="img-fluid rounded-circle mb-3" src="https://pbs.twimg.com/profile_images/915582360967553024/luNMm9XR_400x400.jpg" alt="Nicole" style="border-radius:50%">
                          <h5>Nicole S.</h5>
                          <p class="font-weight-light mb-0">"Ma4kaj, Gri6o!"</p>
                      </div>
                  </div>
              </div>
    </div>
</section>
<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay" style="background-image: url('http://beingcovers.com/media/facebook-cover/Hot-Soccer-Girl-facebook-covers-3556.jpg');background-repeat: no-repeat; background-size:cover; opacity:0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

            </div>
        </div>
    </div>
</section>

