@model CalculatorResultViewModel
@{
    ViewData["Title"] = "Result";
}
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-2" style="height:500px;width:750px;background-image:url('@Model.ImageUrl');background-size:cover;">
        <div class="col-md-12" style="height:450px">
            <h2>Blood Alcohol Content : @($"{Model.Bac:F2}")</h2>
            <br />
            <div class="col-md-6">
                <h4 style="color:red"><strong>@Model.Conclusion</strong></h4>
            </div>
        </div>
        <br />
        <div class="text-right">
            <a asp-action="Index" class="btn btn-primary">
                Calculate Again
            </a>
        </div>
    </div>
</div>
<br />